SKO_Demo_-_Slack_Bot_GenAI.json
{"flowContents":{"identifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","instanceIdentifier":"7d09eed1-018d-1000-dd1e-8a18e618a962","name":"SKO_Demo_-_Slack_Bot_GenAI","comments":"","position":{"x":609.0,"y":357.0},"processGroups":[{"identifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","instanceIdentifier":"961cc777-1ed4-398b-04a4-d3085b1b5e12","name":"Process Attachment","comments":"","position":{"x":1064.0,"y":528.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"99701d9f-6bbb-3038-803a-2ee58de0a13f","instanceIdentifier":"62e7affa-8b3e-3f08-8fa7-ac2cfeb5a9ac","name":"PutPinecone","comments":"","position":{"x":1208.0,"y":1768.0},"type":"python.PutPinecone","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"OpenAI API Key":"#{OpenAI API Key}","Pinecone API Key":"#{Pinecone API Key}","Text Key":"text","Pinecone Environment":"#{Pinecone Environment}","Embedding Model":"OpenAI Model","Index Name":"#{Pinecone Index Name}","OpenAI Model":"text-embedding-ada-002","Namespace":null,"HuggingFace Model":"sentence-transformers/all-MiniLM-L6-v2","Document ID Field Name":null},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Key":{"name":"Text Key","displayName":"Text Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone Environment":{"name":"Pinecone Environment","displayName":"Pinecone Environment","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Model":{"name":"Embedding Model","displayName":"Embedding Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model":{"name":"OpenAI Model","displayName":"OpenAI Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace API Key":{"name":"HuggingFace API Key","displayName":"HuggingFace API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace Model":{"name":"HuggingFace Model","displayName":"HuggingFace Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Document ID Field Name":{"name":"Document ID Field Name","displayName":"Document ID Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"5eb0156f-3f90-3d18-96b2-019c92e871ab","instanceIdentifier":"9661d453-0cc9-345c-93f2-f3c875e8a9ee","name":"ReplaceText","comments":"","position":{"x":1208.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"metadata\":${metadata},\"text\":\"$1\"}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2d262fb2-6857-3bd0-8c19-1fc61a4e33dd","instanceIdentifier":"cc7c6438-8357-3615-ec44-d427d80de1e2","name":"RouteOnAttribute","comments":"","position":{"x":656.0,"y":592.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","PDF":"${mime.type:equals(\"application/pdf\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"PDF":{"name":"PDF","displayName":"PDF","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"11640b94-1767-3a30-ae6d-7a1ec0c12e1e","instanceIdentifier":"34305ca7-c388-378b-3b82-c2ab9178acfd","name":"IdentifyMimeType","comments":"","position":{"x":656.0,"y":384.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"config-file":null,"config-strategy":"Preset","use-filename-in-detection":"true","config-body":null},"propertyDescriptors":{"config-file":{"name":"config-file","displayName":"Config File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-body":{"name":"config-body","displayName":"Config Body","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"e88ce7f5-a9ce-3e49-abd2-9817e2ae9ac5","instanceIdentifier":"cfbc3058-d8f5-3de6-fdf9-0571883eba28","name":"QueryRecord","comments":"","position":{"x":1208.0,"y":976.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","data":"SELECT text FROM FLOWFILE\nWHERE CHAR_LENGTH(text) > 20","record-writer":"5422ce8c-2f57-3f39-b32e-8a9faeed9c02","record-reader":"1e2494f2-4944-31d7-a366-833923c92a1d","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"169d45b1-351a-3f51-8702-3f1ad32aad08","instanceIdentifier":"0eab34de-b957-3304-23d2-03ddc7c188a2","name":"InvokeHTTP","comments":"","position":{"x":656.0,"y":192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"URL_PATH","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"d7a98a5e-11c4-39fe-ba59-df8d60048a03","instanceIdentifier":"c23f7fc5-7d8b-36bb-a9dc-f947a9758716","name":"ChunkDocument","comments":"","position":{"x":1888.0,"y":760.0},"type":"python.ChunkDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"Separator Format":"Plain Text","Chunk Overlap":"200","Keep Separator":"false","Chunk Size":"4000","Chunking Strategy":"Recursively Split by Character","Separator":"\\n\\n,\\n, ,","Strip Whitespace":"true"},"propertyDescriptors":{"Separator Format":{"name":"Separator Format","displayName":"Separator Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Overlap":{"name":"Chunk Overlap","displayName":"Chunk Overlap","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Separator":{"name":"Keep Separator","displayName":"Keep Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunk Size":{"name":"Chunk Size","displayName":"Chunk Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Chunking Strategy":{"name":"Chunking Strategy","displayName":"Chunking Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Separator":{"name":"Separator","displayName":"Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Strip Whitespace":{"name":"Strip Whitespace","displayName":"Strip Whitespace","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"8eb512f4-76a2-34d1-9f50-97cf833259b3","instanceIdentifier":"4dbaccac-d2ec-39c4-dc59-6f3f0d13e8a1","name":"ReplaceText","comments":"","position":{"x":1208.0,"y":1568.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(?<!\\r)\\n","Replacement Value":" ","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2b792dc2-1a5b-38c9-81a8-a2ecaaa2ffc3","instanceIdentifier":"9a251077-dcee-39ac-2948-d7f1aa2683f1","name":"ParseDocument","comments":"","position":{"x":1208.0,"y":760.0},"type":"python.ParseDocument","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"Element Strategy":"Document Per Element","PDF Parsing Strategy":"Automatic","Input Format":"PDF","Include Page Breaks":"false","Metadata Fields":"filename, uuid","Languages":"Eng","Infer Table Structure":"false","PDF Parsing Model":"detectron2_onnx","Include Extracted Metadata":"false"},"propertyDescriptors":{"Element Strategy":{"name":"Element Strategy","displayName":"Element Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"PDF Parsing Strategy":{"name":"PDF Parsing Strategy","displayName":"PDF Parsing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Input Format":{"name":"Input Format","displayName":"Input Format","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Page Breaks":{"name":"Include Page Breaks","displayName":"Include Page Breaks","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Metadata Fields":{"name":"Metadata Fields","displayName":"Metadata Fields","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Languages":{"name":"Languages","displayName":"Languages","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Infer Table Structure":{"name":"Infer Table Structure","displayName":"Infer Table Structure","identifiesControllerService":false,"sensitive":false,"dynamic":true},"PDF Parsing Model":{"name":"PDF Parsing Model","displayName":"PDF Parsing Model","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Include Extracted Metadata":{"name":"Include Extracted Metadata","displayName":"Include Extracted Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"7f0ae4be-e7f6-3ba8-91da-ec9772b2b753","instanceIdentifier":"e4e57b11-e945-3559-fd59-1dc8039c8824","name":"ReplaceText","comments":"","position":{"x":1208.0,"y":1176.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"\"","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"inputPorts":[{"identifier":"17f7b8af-c93e-3a71-85ec-c607b481e141","instanceIdentifier":"3824c96a-c43b-3394-67ab-b96b9d96324c","name":"message","position":{"x":713.0000015533159,"y":74.99999574877384},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"outputPorts":[{"identifier":"10e3a6ac-6025-3379-ba10-20da6a98e650","instanceIdentifier":"8dbf89a8-9259-3013-63eb-44ae3d64d20d","name":"message","position":{"x":704.0,"y":1832.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"connections":[{"identifier":"c5104460-fe7a-347c-b8bb-06b03af851eb","instanceIdentifier":"b8d21489-f2dc-35f5-e554-c0fab202cd2b","name":"","source":{"id":"8eb512f4-76a2-34d1-9f50-97cf833259b3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"4dbaccac-d2ec-39c4-dc59-6f3f0d13e8a1"},"destination":{"id":"99701d9f-6bbb-3038-803a-2ee58de0a13f","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"PutPinecone","comments":"","instanceIdentifier":"62e7affa-8b3e-3f08-8fa7-ac2cfeb5a9ac"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2790f6ca-564b-31a4-8868-2f2fc2499302","instanceIdentifier":"8b178ed9-9919-3b4d-9e2f-b62473eb913d","name":"","source":{"id":"d7a98a5e-11c4-39fe-ba59-df8d60048a03","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ChunkDocument","comments":"","instanceIdentifier":"c23f7fc5-7d8b-36bb-a9dc-f947a9758716"},"destination":{"id":"99701d9f-6bbb-3038-803a-2ee58de0a13f","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"PutPinecone","comments":"","instanceIdentifier":"62e7affa-8b3e-3f08-8fa7-ac2cfeb5a9ac"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2064.0,"y":1448.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"fe576a1f-4261-3c2c-a9fc-da0ad6d2bb52","instanceIdentifier":"df43e4e8-5ed7-3e15-87c1-373562cdb982","name":"","source":{"id":"7f0ae4be-e7f6-3ba8-91da-ec9772b2b753","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"e4e57b11-e945-3559-fd59-1dc8039c8824"},"destination":{"id":"5eb0156f-3f90-3d18-96b2-019c92e871ab","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"9661d453-0cc9-345c-93f2-f3c875e8a9ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"1623f9db-08dd-3bce-8850-5213632e2900","instanceIdentifier":"b0087b21-c08d-3312-9c9c-1c9c4f3b95e2","name":"","source":{"id":"2b792dc2-1a5b-38c9-81a8-a2ecaaa2ffc3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ParseDocument","comments":"","instanceIdentifier":"9a251077-dcee-39ac-2948-d7f1aa2683f1"},"destination":{"id":"10e3a6ac-6025-3379-ba10-20da6a98e650","type":"OUTPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"8dbf89a8-9259-3013-63eb-44ae3d64d20d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":832.0,"y":824.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2cd026a5-c6fa-3f2a-99e0-0fff244ea1d7","instanceIdentifier":"bd4f7324-f343-3a94-8ba0-1d290177cb96","name":"","source":{"id":"2b792dc2-1a5b-38c9-81a8-a2ecaaa2ffc3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ParseDocument","comments":"","instanceIdentifier":"9a251077-dcee-39ac-2948-d7f1aa2683f1"},"destination":{"id":"e88ce7f5-a9ce-3e49-abd2-9817e2ae9ac5","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"QueryRecord","comments":"","instanceIdentifier":"cfbc3058-d8f5-3de6-fdf9-0571883eba28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"edf3d327-148c-30b6-80dd-3a3c662196e2","instanceIdentifier":"3869f02d-871e-37c8-07a9-3fdb3c900c4d","name":"","source":{"id":"2b792dc2-1a5b-38c9-81a8-a2ecaaa2ffc3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ParseDocument","comments":"","instanceIdentifier":"9a251077-dcee-39ac-2948-d7f1aa2683f1"},"destination":{"id":"d7a98a5e-11c4-39fe-ba59-df8d60048a03","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ChunkDocument","comments":"","instanceIdentifier":"c23f7fc5-7d8b-36bb-a9dc-f947a9758716"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"888ee63c-1a03-3f1f-8a84-a9489b6035f0","instanceIdentifier":"4005cbef-60eb-3a77-f449-b3648ad40e76","name":"","source":{"id":"169d45b1-351a-3f51-8702-3f1ad32aad08","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"InvokeHTTP","comments":"","instanceIdentifier":"0eab34de-b957-3304-23d2-03ddc7c188a2"},"destination":{"id":"11640b94-1767-3a30-ae6d-7a1ec0c12e1e","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"IdentifyMimeType","comments":"","instanceIdentifier":"34305ca7-c388-378b-3b82-c2ab9178acfd"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"057abcb6-8359-3002-b936-605f36dd8964","instanceIdentifier":"68bda1fd-de49-37ce-e0d3-b1f5b7e226c9","name":"","source":{"id":"11640b94-1767-3a30-ae6d-7a1ec0c12e1e","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"IdentifyMimeType","comments":"","instanceIdentifier":"34305ca7-c388-378b-3b82-c2ab9178acfd"},"destination":{"id":"2d262fb2-6857-3bd0-8c19-1fc61a4e33dd","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cc7c6438-8357-3615-ec44-d427d80de1e2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2ca4541f-7827-355b-99a8-6f6223fb0357","instanceIdentifier":"85411a64-de39-3585-62a7-16ffd2510156","name":"","source":{"id":"5eb0156f-3f90-3d18-96b2-019c92e871ab","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"9661d453-0cc9-345c-93f2-f3c875e8a9ee"},"destination":{"id":"8eb512f4-76a2-34d1-9f50-97cf833259b3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"4dbaccac-d2ec-39c4-dc59-6f3f0d13e8a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"41dcb5f1-9bfc-3ef6-9ed8-80c86c15e04a","instanceIdentifier":"b24b6119-eb67-3199-c7a1-db04ea65b5d2","name":"","source":{"id":"17f7b8af-c93e-3a71-85ec-c607b481e141","type":"INPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"3824c96a-c43b-3394-67ab-b96b9d96324c"},"destination":{"id":"169d45b1-351a-3f51-8702-3f1ad32aad08","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"InvokeHTTP","comments":"","instanceIdentifier":"0eab34de-b957-3304-23d2-03ddc7c188a2"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"a5740a8a-3fb8-365e-a5a6-8946c1961ea3","instanceIdentifier":"8188e3a7-85e7-3c8f-b5e2-9cf9ce64e864","name":"","source":{"id":"99701d9f-6bbb-3038-803a-2ee58de0a13f","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"PutPinecone","comments":"","instanceIdentifier":"62e7affa-8b3e-3f08-8fa7-ac2cfeb5a9ac"},"destination":{"id":"10e3a6ac-6025-3379-ba10-20da6a98e650","type":"OUTPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"8dbf89a8-9259-3013-63eb-44ae3d64d20d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"9be42cbe-03f4-3a22-bec6-e873d89f6992","instanceIdentifier":"2a6fc176-680a-311f-fef9-29a2fd6b5eb2","name":"","source":{"id":"2d262fb2-6857-3bd0-8c19-1fc61a4e33dd","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cc7c6438-8357-3615-ec44-d427d80de1e2"},"destination":{"id":"10e3a6ac-6025-3379-ba10-20da6a98e650","type":"OUTPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"8dbf89a8-9259-3013-63eb-44ae3d64d20d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"831c49c2-d004-3de1-913a-abd597016e0f","instanceIdentifier":"9029d3fa-9f77-3734-6725-4d6389974146","name":"","source":{"id":"e88ce7f5-a9ce-3e49-abd2-9817e2ae9ac5","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"QueryRecord","comments":"","instanceIdentifier":"cfbc3058-d8f5-3de6-fdf9-0571883eba28"},"destination":{"id":"7f0ae4be-e7f6-3ba8-91da-ec9772b2b753","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ReplaceText","comments":"","instanceIdentifier":"e4e57b11-e945-3559-fd59-1dc8039c8824"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"2ea980c6-1798-37ee-abab-96af4ab4d7c9","instanceIdentifier":"3760e004-12ec-3d84-1a8f-bcf29357fc63","name":"","source":{"id":"99701d9f-6bbb-3038-803a-2ee58de0a13f","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"PutPinecone","comments":"","instanceIdentifier":"62e7affa-8b3e-3f08-8fa7-ac2cfeb5a9ac"},"destination":{"id":"ebb697a4-736f-372c-9621-12f6dd39ec0b","type":"FUNNEL","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"Funnel","comments":"","instanceIdentifier":"aac27bd0-af56-3f52-2812-932825670d3e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"02f32bb9-a85c-34ae-a1dc-96c43f0f042a","instanceIdentifier":"11524f7b-ac9b-351e-add8-26d78ca025d2","name":"","source":{"id":"2d262fb2-6857-3bd0-8c19-1fc61a4e33dd","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"RouteOnAttribute","comments":"","instanceIdentifier":"cc7c6438-8357-3615-ec44-d427d80de1e2"},"destination":{"id":"2b792dc2-1a5b-38c9-81a8-a2ecaaa2ffc3","type":"PROCESSOR","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"ParseDocument","comments":"","instanceIdentifier":"9a251077-dcee-39ac-2948-d7f1aa2683f1"},"labelIndex":0,"zIndex":0,"selectedRelationships":["PDF"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1384.0,"y":656.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"labels":[],"funnels":[{"identifier":"ebb697a4-736f-372c-9621-12f6dd39ec0b","instanceIdentifier":"aac27bd0-af56-3f52-2812-932825670d3e","position":{"x":1896.0,"y":1848.0},"componentType":"FUNNEL","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"controllerServices":[{"identifier":"5422ce8c-2f57-3f39-b32e-8a9faeed9c02","instanceIdentifier":"15dba8fc-fadd-3b93-947e-e2a65bce18ab","name":"CSV Writer","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"false","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"},{"identifier":"1e2494f2-4944-31d7-a366-833923c92a1d","instanceIdentifier":"e8ef500f-02a8-3150-fdd0-3fd2e3f427c9","name":"JSON Reader - one JSON per line","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"acd6bf59-04cc-3eb6-b55c-0a57c5225097"}],"parameterContextName":"slack-to-slack","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"remoteProcessGroups":[],"processors":[{"identifier":"9c79d320-1637-3d85-abad-606e81713b60","instanceIdentifier":"f8f658c8-e6cf-38b3-7d6b-1608a8cec1f6","name":"PutPinecone","comments":"","position":{"x":416.0,"y":1320.0},"type":"python.PutPinecone","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"OpenAI API Key":"#{OpenAI API Key}","Pinecone API Key":"#{Pinecone API Key}","Text Key":"text","Pinecone Environment":"#{Pinecone Environment}","Embedding Model":"OpenAI Model","Index Name":"#{Pinecone Index Name}","OpenAI Model":"text-embedding-ada-002","Namespace":null,"HuggingFace Model":"sentence-transformers/all-MiniLM-L6-v2","Document ID Field Name":null},"propertyDescriptors":{"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Key":{"name":"Text Key","displayName":"Text Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pinecone Environment":{"name":"Pinecone Environment","displayName":"Pinecone Environment","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Model":{"name":"Embedding Model","displayName":"Embedding Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model":{"name":"OpenAI Model","displayName":"OpenAI Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace API Key":{"name":"HuggingFace API Key","displayName":"HuggingFace API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace Model":{"name":"HuggingFace Model","displayName":"HuggingFace Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Document ID Field Name":{"name":"Document ID Field Name","displayName":"Document ID Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"17828839-edda-3354-a304-59a05e2a2812","instanceIdentifier":"0f370ade-faee-3b34-18c3-9992b8055133","name":"GenerateFlowFile","comments":"","position":{"x":1552.0,"y":8.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"What is StreamSets and do you know if StreamSets has been recently acquired?","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"092e28f7-8d26-3206-830b-caef45c6aa85","instanceIdentifier":"faee3b64-0ade-1f37-f418-cdb285b0942b","name":"Extract LLM Response","comments":"","position":{"x":2144.0,"y":1640.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"[\\s\\S]*?(})","Replacement Value":"${'$1':substring(2)}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"5 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"5e714538-7083-3c9c-b55c-7dc12526ce6a","instanceIdentifier":"faee3b76-0ade-1f37-df43-bad8436aefeb","name":"Remove New Lines","comments":"","position":{"x":2648.0,"y":1408.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(.*)\\n","Replacement Value":"$1","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"c31fcc11-65fa-3768-af02-86d9d37f3f3f","instanceIdentifier":"7e185c81-8429-3c31-fa3d-a931ff01d3c9","name":"AttributesToJSON","comments":"","position":{"x":416.0,"y":1112.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"text,metadata","Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"NESTED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"6189bdef-deb7-3e32-95c3-841b3c240e5f","instanceIdentifier":"c674f117-1887-347e-698c-b492efa87b1c","name":"ExtractKeywords","comments":"","position":{"x":1576.0,"y":312.0},"type":"python.ExtractKeywords","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-SNAPSHOT"},"properties":{},"propertyDescriptors":{"Maximum number of keywords":{"name":"Maximum number of keywords","displayName":"Maximum number of keywords","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Language":{"name":"Language","displayName":"Language","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Maximum N-gram size":{"name":"Maximum N-gram size","displayName":"Maximum N-gram size","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Deduplication Threshold":{"name":"Deduplication Threshold","displayName":"Deduplication Threshold","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"3d1b31c8-3881-310a-97d1-e538ddf4501a","instanceIdentifier":"ac4ccf70-8932-3578-c3d1-7754ea4ca404","name":"EvaluateJsonPath","comments":"","position":{"x":408.0,"y":128.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","channel":"$.channel","Null Value Representation":"empty string","text":"$.text","threadTs":"$.threadTs","user":"$.username","url":"$.files[0].urlPrivateDownload","Path Not Found Behavior":"ignore","ts":"$.ts"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"channel":{"name":"channel","displayName":"channel","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"text":{"name":"text","displayName":"text","identifiesControllerService":false,"sensitive":false,"dynamic":true},"threadTs":{"name":"threadTs","displayName":"threadTs","identifiesControllerService":false,"sensitive":false,"dynamic":true},"user":{"name":"user","displayName":"user","identifiesControllerService":false,"sensitive":false,"dynamic":true},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ts":{"name":"ts","displayName":"ts","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"b8087f91-5bf2-3622-92bb-e044368c6ed8","instanceIdentifier":"5ef24f1a-4e2c-30dd-333f-c85385163605","name":"EvaluateJsonPath","comments":"","position":{"x":1344.0,"y":1136.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-attribute","answer":"$.document","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"answer":{"name":"answer","displayName":"answer","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"7e491ceb-3141-3446-ae1d-7cbd03047526","instanceIdentifier":"faee3b46-0ade-1f37-9ba5-e62b61241232","name":"GenerateFlowFile","comments":"","position":{"x":2360.0,"y":112.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"request\":{\"prompt\":\" Answer the following question to the best of your ability: Question: What will be released in February? Solely base your answer on the following information: The next release of Cloudera Flow Management (CFM) will be CFM 2.1.7 some time in February, it'll be based on Apache NiFi 1.25. At the same time, there will also be the release of CFM 4.0.0 that will be based on NiFi 2.0\",\"temperature\":0,\"max_new_tokens\":150,\"repetition_penalty\":0.9}}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"8499b5e1-7d80-32ac-ab55-25370315c947","instanceIdentifier":"a22e943c-6ab5-3313-3aeb-0a9ac14aafad","name":"Message has attachment?","comments":"","position":{"x":408.0,"y":552.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"hasAttachment":"${url:isEmpty():not()}","Routing Strategy":"Route to 'match' if all match"},"propertyDescriptors":{"hasAttachment":{"name":"hasAttachment","displayName":"hasAttachment","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"e52ce55d-b3da-344f-b0dc-32597a63f107","instanceIdentifier":"7f48837e-018d-1000-117a-03933b0bc07e","name":"InvokeCML","comments":"","position":{"x":2632.0,"y":1640.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://modelservice.ml-584cb2b8-8f3.dim-sko.xcu2-8y8x.dev.cldr.work/model?accessKey=mfcijdfdefiv5r57i4gwr7me0jwshefs","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"b5bd145e-d17f-3cb2-a920-6d008f26d153","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"a3cdd571-3509-3ef8-b4f0-817b97c05314","instanceIdentifier":"cbc39a1e-580f-3376-f36e-f6260981437c","name":"SplitJson","comments":"","position":{"x":416.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"6010f66c-6f34-3971-827c-0dbac53cdb56","instanceIdentifier":"d9e74f1b-700b-33e2-5c7b-cd305d80cb38","name":"PromptChatGPT","comments":"","position":{"x":1352.0,"y":1368.0},"type":"python.PromptChatGPT","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"Result Attribute":null,"Temperature":"1.0","OpenAI Organization ID":null,"API Key":"#{OpenAI API Key}","Request Timeout":"60 secs","API Base URL Path":null,"Prompt":" Answer the following question to the best of your ability:\n Question:\n {{${text}}}\n Solely base your answer on the following information:\n {{${answer}}}","Max Tokens to Generate":null,"OpenAI Model Name":"gpt-3.5-turbo"},"propertyDescriptors":{"Result Attribute":{"name":"Result Attribute","displayName":"Result Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Temperature":{"name":"Temperature","displayName":"Temperature","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Organization ID":{"name":"OpenAI Organization ID","displayName":"OpenAI Organization ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Key":{"name":"API Key","displayName":"API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Request Timeout":{"name":"Request Timeout","displayName":"Request Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"API Base URL Path":{"name":"API Base URL Path","displayName":"API Base URL Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prompt":{"name":"Prompt","displayName":"Prompt","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tokens to Generate":{"name":"Max Tokens to Generate","displayName":"Max Tokens to Generate","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model Name":{"name":"OpenAI Model Name","displayName":"OpenAI Model Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae","name":"Question to Bot or Text to Vector DB","comments":"","position":{"x":408.0,"y":904.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Routing Strategy":"Route to Property name","question":"${text:startsWith(${literal('<@'):append(${botName:toLower()})})\n:and(${user:equals(${botName}):not()})}","botMessage":"${user:equalsIgnoreCase(${botName})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"question":{"name":"question","displayName":"question","identifiesControllerService":false,"sensitive":false,"dynamic":true},"botMessage":{"name":"botMessage","displayName":"botMessage","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"abbe8e07-49e2-32cd-ad84-ee3ad3a23e05","instanceIdentifier":"8ad75cc1-f263-3581-d243-4c9ab278bcbe","name":"Add metadata","comments":"","position":{"x":408.0,"y":336.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"metadata":"{\"author\":\"${user}\", \"channel\":\"${channel}\"}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","botName":"#{Bot Name}","Stateful Variables Initial Value":null},"propertyDescriptors":{"metadata":{"name":"metadata","displayName":"metadata","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"botName":{"name":"botName","displayName":"botName","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"9d5040e9-afbf-3249-9cde-baafb183751f","instanceIdentifier":"faee3b50-0ade-1f37-a362-94529bfd99f4","name":"Build HTTP Request","comments":"","position":{"x":2656.0,"y":1112.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${body} ","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"816e4d51-bce0-35e9-b3af-5ab4950d3be1","instanceIdentifier":"2a21f4b9-e0ab-3890-4f90-80ebefd2689a","name":"QueryPinecone","comments":"","position":{"x":1344.0,"y":904.0},"type":"python.QueryPinecone","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"2.0.0-M2"},"properties":{"Pinecone API Key":"#{Pinecone API Key}","Text Key":"text","Query":"${text:substringAfter('<@'#{Bot Name}'>'):trim()}","Results Field":"document","Include Metadata":"true","Index Name":"#{Pinecone Index Name}","Metadata Filter":null,"Number of Results":"10","Include Distances":"true","Namespace":null,"OpenAI API Key":"#{OpenAI API Key}","Pinecone Environment":"#{Pinecone Environment}","Embedding Model":"#{Embedding Model}","OpenAI Model":"text-embedding-ada-002","Output Strategy":"Text","HuggingFace Model":"sentence-transformers/all-MiniLM-L6-v2"},"propertyDescriptors":{"Pinecone API Key":{"name":"Pinecone API Key","displayName":"Pinecone API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Text Key":{"name":"Text Key","displayName":"Text Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Query":{"name":"Query","displayName":"Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Results Field":{"name":"Results Field","displayName":"Results Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Metadata":{"name":"Include Metadata","displayName":"Include Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Index Name":{"name":"Index Name","displayName":"Index Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Metadata Filter":{"name":"Metadata Filter","displayName":"Metadata Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Number of Results":{"name":"Number of Results","displayName":"Number of Results","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Distances":{"name":"Include Distances","displayName":"Include Distances","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Namespace":{"name":"Namespace","displayName":"Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI API Key":{"name":"OpenAI API Key","displayName":"OpenAI API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Pinecone Environment":{"name":"Pinecone Environment","displayName":"Pinecone Environment","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Embedding Model":{"name":"Embedding Model","displayName":"Embedding Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OpenAI Model":{"name":"OpenAI Model","displayName":"OpenAI Model","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace API Key":{"name":"HuggingFace API Key","displayName":"HuggingFace API Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HuggingFace Model":{"name":"HuggingFace Model","displayName":"HuggingFace Model","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"413d0f0e-1486-387b-981e-2de41116de17","instanceIdentifier":"faee3b5f-0ade-1f37-c146-d4cf501af6a0","name":"Parse CML Response","comments":"","position":{"x":2144.0,"y":1400.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M2"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","response":"response.prediction.response","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"response":{"name":"response","displayName":"response","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"eb5c8380-cc35-3084-b0ae-e746e04059ee","instanceIdentifier":"5b213837-4799-3b7f-3949-a247ec017a04","name":"PublishSlack","comments":"","position":{"x":1352.0,"y":1648.0},"type":"org.apache.nifi.processors.slack.PublishSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.0.0-M2"},"properties":{"Max FlowFile Size":"1 MB","Thread Timestamp":"${theadTs:isNull():ifElse(${ts},${threadTs})}","Publish Strategy":"Send FlowFile Content as Message","Channel":"#{Channel ID}","Access Token":"#{Slack Bot Access Token}","Message Text":"Answer is: ${answer}","Character Set":"UTF-8","Include FlowFile Content as Attachment":"false"},"propertyDescriptors":{"Max FlowFile Size":{"name":"Max FlowFile Size","displayName":"Max FlowFile Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Thread Timestamp":{"name":"Thread Timestamp","displayName":"Thread Timestamp","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channel":{"name":"Channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Message Text":{"name":"Message Text","displayName":"Message Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include FlowFile Content as Attachment":{"name":"Include FlowFile Content as Attachment","displayName":"Include FlowFile Content as Attachment","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["rate limited"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"7171418a-5b5d-36e0-affa-5ceb0080ac2b","instanceIdentifier":"783db660-01da-38b3-2ff6-0f9bd095630a","name":"ConsumeSlack","comments":"","position":{"x":416.0,"y":-288.0},"type":"org.apache.nifi.processors.slack.ConsumeSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"2.0.0-M2"},"properties":{"Reply Monitor Frequency":"1 min","Include Message Blocks":"false","Include Null Fields":"true","Resolve Usernames":"true","Batch Size":"100","Access Token":"#{Slack Bot Access Token}","Reply Monitor Window":"7 days","Channels":"#{Channel ID}"},"propertyDescriptors":{"Reply Monitor Frequency":{"name":"Reply Monitor Frequency","displayName":"Reply Monitor Frequency","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Message Blocks":{"name":"Include Message Blocks","displayName":"Include Message Blocks","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Null Fields":{"name":"Include Null Fields","displayName":"Include Null Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Resolve Usernames":{"name":"Resolve Usernames","displayName":"Resolve Usernames","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Token":{"name":"Access Token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Reply Monitor Window":{"name":"Reply Monitor Window","displayName":"Reply Monitor Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Channels":{"name":"Channels","displayName":"Channels","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"3 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"13969e0b-d731-38a5-b9a6-de1769e2948d","instanceIdentifier":"faee3b4c-0ade-1f37-2971-410eb0f9c932","name":"SetPrompt","comments":"","position":{"x":2144.0,"y":1120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0-M2"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"body":"{\"request\":{\"prompt\":\" Answer the following question to the best of your ability. Question: ${text} Solely base your answer on the following information: {${answer}}\",\"temperature\":0,\"max_new_tokens\":150,\"repetition_penalty\":0.9}}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"body":{"name":"body","displayName":"body","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"eb65d7a8-8448-3911-9fa3-36a4c62cde7c","instanceIdentifier":"faee3b60-0ade-1f37-2954-9a8486ac82d1","name":"","source":{"id":"413d0f0e-1486-387b-981e-2de41116de17","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Parse CML Response","comments":"","instanceIdentifier":"faee3b5f-0ade-1f37-c146-d4cf501af6a0"},"destination":{"id":"092e28f7-8d26-3206-830b-caef45c6aa85","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Extract LLM Response","comments":"","instanceIdentifier":"faee3b64-0ade-1f37-f418-cdb285b0942b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"31b1cc0e-4b16-3bbf-9581-ad301e9466d0","instanceIdentifier":"effab1fb-692e-31a2-f5b8-5639ac74dc39","name":"","source":{"id":"816e4d51-bce0-35e9-b3af-5ab4950d3be1","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"QueryPinecone","comments":"","instanceIdentifier":"2a21f4b9-e0ab-3890-4f90-80ebefd2689a"},"destination":{"id":"b8087f91-5bf2-3622-92bb-e044368c6ed8","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5ef24f1a-4e2c-30dd-333f-c85385163605"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"13b696a0-59aa-3105-ba92-4972f21989cd","instanceIdentifier":"7233fe64-0319-3c39-791b-84f4c4d73596","name":"","source":{"id":"10e3a6ac-6025-3379-ba10-20da6a98e650","type":"OUTPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"8dbf89a8-9259-3013-63eb-44ae3d64d20d"},"destination":{"id":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Question to Bot or Text to Vector DB","comments":"","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":816.0,"y":792.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"c8685ba8-6cae-300a-8958-a0df42ebd4f7","instanceIdentifier":"9e5ce3e8-e28a-320d-0349-afd46019dd61","name":"","source":{"id":"3d1b31c8-3881-310a-97d1-e538ddf4501a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ac4ccf70-8932-3578-c3d1-7754ea4ca404"},"destination":{"id":"abbe8e07-49e2-32cd-ad84-ee3ad3a23e05","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Add metadata","comments":"","instanceIdentifier":"8ad75cc1-f263-3581-d243-4c9ab278bcbe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"b7fb24ea-6328-3393-80ca-d327dd22661a","instanceIdentifier":"b63d990e-a932-34e2-f4d7-fe14821d1bc8","name":"YES","source":{"id":"8499b5e1-7d80-32ac-ab55-25370315c947","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Message has attachment?","comments":"","instanceIdentifier":"a22e943c-6ab5-3313-3aeb-0a9ac14aafad"},"destination":{"id":"17f7b8af-c93e-3a71-85ec-c607b481e141","type":"INPUT_PORT","groupId":"acd6bf59-04cc-3eb6-b55c-0a57c5225097","name":"message","instanceIdentifier":"3824c96a-c43b-3394-67ab-b96b9d96324c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"3f9af9bd-53e4-3425-b97d-89fef1c76f36","instanceIdentifier":"faee3b7a-0ade-1f37-3a7b-53fd8aeb8edd","name":"","source":{"id":"5e714538-7083-3c9c-b55c-7dc12526ce6a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Remove New Lines","comments":"","instanceIdentifier":"faee3b76-0ade-1f37-df43-bad8436aefeb"},"destination":{"id":"e52ce55d-b3da-344f-b0dc-32597a63f107","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"InvokeCML","comments":"","instanceIdentifier":"7f48837e-018d-1000-117a-03933b0bc07e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"50203c6f-cd23-3bd0-b06b-9c4077655975","instanceIdentifier":"8b691713-6a30-373a-aca9-208f0b1897cf","name":"NO ATTACHMENT","source":{"id":"8499b5e1-7d80-32ac-ab55-25370315c947","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Message has attachment?","comments":"","instanceIdentifier":"a22e943c-6ab5-3313-3aeb-0a9ac14aafad"},"destination":{"id":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Question to Bot or Text to Vector DB","comments":"","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"96654504-becd-3121-b27a-bbfd330c9af6","instanceIdentifier":"faee3b59-0ade-1f37-d538-f01383142931","name":"","source":{"id":"e52ce55d-b3da-344f-b0dc-32597a63f107","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"InvokeCML","comments":"","instanceIdentifier":"7f48837e-018d-1000-117a-03933b0bc07e"},"destination":{"id":"413d0f0e-1486-387b-981e-2de41116de17","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Parse CML Response","comments":"","instanceIdentifier":"faee3b5f-0ade-1f37-c146-d4cf501af6a0"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"e3f7705c-62ea-3b0f-b7b5-cc4c13962be3","instanceIdentifier":"ac95b5f1-a4f5-34d0-be52-e9dc91a83758","name":"","source":{"id":"6189bdef-deb7-3e32-95c3-841b3c240e5f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"ExtractKeywords","comments":"","instanceIdentifier":"c674f117-1887-347e-698c-b492efa87b1c"},"destination":{"id":"7da8ed02-ada6-317d-9bf4-df92044392c4","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"cde5f319-8468-3c4c-7b65-6688f45f1f27"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"45c64a59-4785-31e9-84dd-3b9b4df81fda","instanceIdentifier":"6d004311-5fe8-38d9-8aa8-30cf76314283","name":"","source":{"id":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Question to Bot or Text to Vector DB","comments":"","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae"},"destination":{"id":"816e4d51-bce0-35e9-b3af-5ab4950d3be1","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"QueryPinecone","comments":"","instanceIdentifier":"2a21f4b9-e0ab-3890-4f90-80ebefd2689a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["question"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"0704077f-a2b4-3e66-a3c4-7e457fbb986d","instanceIdentifier":"faee3b66-0ade-1f37-ecf1-04e271108994","name":"","source":{"id":"092e28f7-8d26-3206-830b-caef45c6aa85","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Extract LLM Response","comments":"","instanceIdentifier":"faee3b64-0ade-1f37-f418-cdb285b0942b"},"destination":{"id":"eb5c8380-cc35-3084-b0ae-e746e04059ee","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PublishSlack","comments":"","instanceIdentifier":"5b213837-4799-3b7f-3949-a247ec017a04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"5174ac96-69c6-3d06-8064-66faa29980c3","instanceIdentifier":"5d5687b2-3081-3eb1-66af-51e14d5e3278","name":"","source":{"id":"c31fcc11-65fa-3768-af02-86d9d37f3f3f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"AttributesToJSON","comments":"","instanceIdentifier":"7e185c81-8429-3c31-fa3d-a931ff01d3c9"},"destination":{"id":"9c79d320-1637-3d85-abad-606e81713b60","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PutPinecone","comments":"","instanceIdentifier":"f8f658c8-e6cf-38b3-7d6b-1608a8cec1f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"f3374600-336b-358a-bf8b-c8d50bcf73c8","instanceIdentifier":"45e982c5-6337-3b2c-782a-d819e049d912","name":"","source":{"id":"6010f66c-6f34-3971-827c-0dbac53cdb56","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PromptChatGPT","comments":"","instanceIdentifier":"d9e74f1b-700b-33e2-5c7b-cd305d80cb38"},"destination":{"id":"abcff1f6-0506-3b80-8ae5-bb13bba75c6b","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"2b57108d-1b7e-38ce-8835-a6dce237e2a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"a58b3af6-f100-3e96-b5dd-b9b6d24b65c1","instanceIdentifier":"36d827dc-621a-3d10-fe33-de7c2f1e3b8f","name":"","source":{"id":"9c79d320-1637-3d85-abad-606e81713b60","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PutPinecone","comments":"","instanceIdentifier":"f8f658c8-e6cf-38b3-7d6b-1608a8cec1f6"},"destination":{"id":"d2decac1-478c-3aa8-ae6d-0482700e34d3","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"b0321df4-e1f6-3097-03fd-eda57f380a53"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"ad1523a1-6a0d-3f0f-8f75-53cb1f0c1414","instanceIdentifier":"faee3b4d-0ade-1f37-1db5-510e04bce7f8","name":"","source":{"id":"13969e0b-d731-38a5-b9a6-de1769e2948d","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"SetPrompt","comments":"","instanceIdentifier":"faee3b4c-0ade-1f37-2971-410eb0f9c932"},"destination":{"id":"9d5040e9-afbf-3249-9cde-baafb183751f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Build HTTP Request","comments":"","instanceIdentifier":"faee3b50-0ade-1f37-a362-94529bfd99f4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"2b6172e1-e644-3f60-9416-14d4826861b1","instanceIdentifier":"477e386b-c3aa-33c8-7746-0b0b89a7b738","name":"","source":{"id":"eb5c8380-cc35-3084-b0ae-e746e04059ee","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PublishSlack","comments":"","instanceIdentifier":"5b213837-4799-3b7f-3949-a247ec017a04"},"destination":{"id":"abcff1f6-0506-3b80-8ae5-bb13bba75c6b","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"2b57108d-1b7e-38ce-8835-a6dce237e2a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["rate limited","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"6357e06f-5489-3bbc-a9b5-96509e70e91b","instanceIdentifier":"a7f04ad6-0806-3ebf-7927-740195a20d3f","name":"","source":{"id":"17828839-edda-3354-a304-59a05e2a2812","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"GenerateFlowFile","comments":"","instanceIdentifier":"0f370ade-faee-3b34-18c3-9992b8055133"},"destination":{"id":"6189bdef-deb7-3e32-95c3-841b3c240e5f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"ExtractKeywords","comments":"","instanceIdentifier":"c674f117-1887-347e-698c-b492efa87b1c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"7473f0e2-cbe3-3bc9-aecf-fe88f5eda1aa","instanceIdentifier":"0968418a-830e-3b17-6fd2-5b0bbeced54f","name":"","source":{"id":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Question to Bot or Text to Vector DB","comments":"","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae"},"destination":{"id":"c31fcc11-65fa-3768-af02-86d9d37f3f3f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"AttributesToJSON","comments":"","instanceIdentifier":"7e185c81-8429-3c31-fa3d-a931ff01d3c9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"388172a6-e170-3136-a21b-8c9efd476db6","instanceIdentifier":"71838538-77bd-3351-d200-0a9835b670ca","name":"","source":{"id":"a3cdd571-3509-3ef8-b4f0-817b97c05314","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"SplitJson","comments":"","instanceIdentifier":"cbc39a1e-580f-3376-f36e-f6260981437c"},"destination":{"id":"3d1b31c8-3881-310a-97d1-e538ddf4501a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ac4ccf70-8932-3578-c3d1-7754ea4ca404"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"547d18e0-56b8-39f3-9491-e0980c0c3b4c","instanceIdentifier":"faee3b49-0ade-1f37-3e83-e0730158997f","name":"","source":{"id":"b8087f91-5bf2-3622-92bb-e044368c6ed8","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5ef24f1a-4e2c-30dd-333f-c85385163605"},"destination":{"id":"13969e0b-d731-38a5-b9a6-de1769e2948d","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"SetPrompt","comments":"","instanceIdentifier":"faee3b4c-0ade-1f37-2971-410eb0f9c932"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"4154d6f6-5b69-367c-8dfa-ed2ade433401","instanceIdentifier":"d9c2d91c-0722-337d-ae3a-153a56ceacae","name":"","source":{"id":"7171418a-5b5d-36e0-affa-5ceb0080ac2b","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"ConsumeSlack","comments":"","instanceIdentifier":"783db660-01da-38b3-2ff6-0f9bd095630a"},"destination":{"id":"a3cdd571-3509-3ef8-b4f0-817b97c05314","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"SplitJson","comments":"","instanceIdentifier":"cbc39a1e-580f-3376-f36e-f6260981437c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"3c73a8ae-d7d0-3410-adeb-bd15b87d27c9","instanceIdentifier":"5abf69ea-6c41-3983-a80f-f50b2ebfeca5","name":"","source":{"id":"b8087f91-5bf2-3622-92bb-e044368c6ed8","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5ef24f1a-4e2c-30dd-333f-c85385163605"},"destination":{"id":"abcff1f6-0506-3b80-8ae5-bb13bba75c6b","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"2b57108d-1b7e-38ce-8835-a6dce237e2a8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"9f05f3b4-f544-328a-96b0-f357cd2d83a5","instanceIdentifier":"faee3b78-0ade-1f37-d8eb-599cb43d17ad","name":"","source":{"id":"9d5040e9-afbf-3249-9cde-baafb183751f","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Build HTTP Request","comments":"","instanceIdentifier":"faee3b50-0ade-1f37-a362-94529bfd99f4"},"destination":{"id":"5e714538-7083-3c9c-b55c-7dc12526ce6a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Remove New Lines","comments":"","instanceIdentifier":"faee3b76-0ade-1f37-df43-bad8436aefeb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"f8f4d156-65e1-3745-91ec-9325f0a7fb76","instanceIdentifier":"19710565-faff-31d3-8e2e-99f871189456","name":"","source":{"id":"6010f66c-6f34-3971-827c-0dbac53cdb56","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PromptChatGPT","comments":"","instanceIdentifier":"d9e74f1b-700b-33e2-5c7b-cd305d80cb38"},"destination":{"id":"eb5c8380-cc35-3084-b0ae-e746e04059ee","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PublishSlack","comments":"","instanceIdentifier":"5b213837-4799-3b7f-3949-a247ec017a04"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"2a9cf422-fc96-3dc1-b56b-8156a136baa5","instanceIdentifier":"faee3b73-0ade-1f37-abd7-1ef411f829f9","name":"","source":{"id":"e52ce55d-b3da-344f-b0dc-32597a63f107","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"InvokeCML","comments":"","instanceIdentifier":"7f48837e-018d-1000-117a-03933b0bc07e"},"destination":{"id":"25798728-01a6-3fff-bcae-b78d67571a7c","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"faee3b72-0ade-1f37-4334-2550677814cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"cd9ddf39-d933-3ca1-a49f-1e8420820f96","instanceIdentifier":"791c0d75-f63e-3511-fd8d-6c7f55a49296","name":"","source":{"id":"b8087f91-5bf2-3622-92bb-e044368c6ed8","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"5ef24f1a-4e2c-30dd-333f-c85385163605"},"destination":{"id":"6010f66c-6f34-3971-827c-0dbac53cdb56","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"PromptChatGPT","comments":"","instanceIdentifier":"d9e74f1b-700b-33e2-5c7b-cd305d80cb38"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"c1361de1-a3fe-3aed-91ef-adad025e3229","instanceIdentifier":"8bb61137-4091-34c0-d4a8-31635fb63ad6","name":"","source":{"id":"3d1b31c8-3881-310a-97d1-e538ddf4501a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"ac4ccf70-8932-3578-c3d1-7754ea4ca404"},"destination":{"id":"f8743426-90c8-3854-8bc8-ef80ffe295d2","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"3d17e67a-6f93-33e4-73f6-a6aabd06fced"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"1edb4b28-d7a1-31ce-98dc-319133b3f8f1","instanceIdentifier":"fef77f3d-3c05-34c0-c179-f54f9a81d6b7","name":"","source":{"id":"816e4d51-bce0-35e9-b3af-5ab4950d3be1","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"QueryPinecone","comments":"","instanceIdentifier":"2a21f4b9-e0ab-3890-4f90-80ebefd2689a"},"destination":{"id":"abcff1f6-0506-3b80-8ae5-bb13bba75c6b","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"2b57108d-1b7e-38ce-8835-a6dce237e2a8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"2e9cb90a-6275-3420-8e12-53d36a45385b","instanceIdentifier":"aa648cc3-1648-3e78-6f69-76daa0590cd8","name":"","source":{"id":"5d1f09b4-ef9f-3efd-a46d-c476f7dbb99a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Question to Bot or Text to Vector DB","comments":"","instanceIdentifier":"0c874aab-1c83-3c60-7d2a-bf49de864dae"},"destination":{"id":"25f4a4ba-215d-3add-9d8b-768c8674828d","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"d13a6671-bb1d-3d1b-fb0e-2ef95ca8cf6c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["botMessage"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"8e455c42-15b3-3abf-b880-4be96589ff31","instanceIdentifier":"faee3b79-0ade-1f37-92d3-814d9d37c64a","name":"","source":{"id":"5e714538-7083-3c9c-b55c-7dc12526ce6a","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Remove New Lines","comments":"","instanceIdentifier":"faee3b76-0ade-1f37-df43-bad8436aefeb"},"destination":{"id":"25798728-01a6-3fff-bcae-b78d67571a7c","type":"FUNNEL","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Funnel","comments":"","instanceIdentifier":"faee3b72-0ade-1f37-4334-2550677814cd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"fb1b095e-d7a9-34b6-b23b-7742292af6bf","instanceIdentifier":"b4bfc162-d6cd-32de-2b27-81a4a97626e8","name":"","source":{"id":"abbe8e07-49e2-32cd-ad84-ee3ad3a23e05","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Add metadata","comments":"","instanceIdentifier":"8ad75cc1-f263-3581-d243-4c9ab278bcbe"},"destination":{"id":"8499b5e1-7d80-32ac-ab55-25370315c947","type":"PROCESSOR","groupId":"3752c45f-e359-36af-a1c2-d0a5b14cb9af","name":"Message has attachment?","comments":"","instanceIdentifier":"a22e943c-6ab5-3313-3aeb-0a9ac14aafad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":848.0,"y":512.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"labels":[{"identifier":"c0c4b0a3-b5b6-3851-9cf9-bd074b3a1450","instanceIdentifier":"6d8b81db-d90e-3142-a88b-3f7f1d4969c2","position":{"x":256.0,"y":-368.0},"label":"Consume data from Slack in real time","zIndex":0,"width":696.0,"height":848.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"e0b69e79-b9ac-356c-9c3c-76d2149e9cf0","instanceIdentifier":"f87ea9b6-05bd-34b4-bff0-99a01a4bd754","position":{"x":1096.0,"y":800.0},"label":"Question to the bot\nRetrieve 10 closest documents in Pinecone","zIndex":0,"width":864.0,"height":304.0,"style":{"background-color":"#fed6ff","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"3ad34a8f-fe38-3335-85cf-296912e81cd8","instanceIdentifier":"a9d79bed-ff2c-3e9b-d0a9-89cc6fbc187f","position":{"x":1096.0,"y":1120.0},"label":"Construct prompt\nAsk OpenAI/ChatGPT","zIndex":0,"width":864.0,"height":400.0,"style":{"background-color":"#ffd6d9","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"951a4db5-9f81-33d2-bea9-9468fbc197a8","instanceIdentifier":"faee3b6e-0ade-1f37-d948-4cb42f0cf7d2","position":{"x":2112.0,"y":1016.0},"label":"Construct prompt\nAsk CML / Mistral7","zIndex":0,"width":920.0,"height":784.0,"style":{"background-color":"#ffd6d9","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"9b936046-22c0-3bd5-b84d-88d88cab3cc8","instanceIdentifier":"f76dc931-be80-31db-cbbf-2561db25ffe7","position":{"x":248.0,"y":792.0},"label":"Normal message\nIngestion into Pinecone","zIndex":0,"width":592.0,"height":712.0,"style":{"background-color":"#d6dcff","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"3079c750-20ee-3bb2-87bd-5e5231573e67","instanceIdentifier":"e2a2d888-cd18-3bea-f2de-d350f84abb4f","position":{"x":1096.0,"y":1536.0},"label":"Send response as Slack thread","zIndex":0,"width":864.0,"height":264.0,"style":{"background-color":"#d6ffff","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"ac9a9dfa-519b-358a-86ea-8c2ae06f8e7c","instanceIdentifier":"7696a55f-d79f-39e2-e5ac-4c3003dacc7c","position":{"x":256.0,"y":488.0},"label":"Dealing with attachments in the Slack messages\nFor now: only 1 attachment, expecting PDF","zIndex":0,"width":1240.0,"height":264.0,"style":{"background-color":"#d6ffdb","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"funnels":[{"identifier":"abcff1f6-0506-3b80-8ae5-bb13bba75c6b","instanceIdentifier":"2b57108d-1b7e-38ce-8835-a6dce237e2a8","position":{"x":904.0,"y":1344.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"7da8ed02-ada6-317d-9bf4-df92044392c4","instanceIdentifier":"cde5f319-8468-3c4c-7b65-6688f45f1f27","position":{"x":2256.0,"y":360.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"25798728-01a6-3fff-bcae-b78d67571a7c","instanceIdentifier":"faee3b72-0ade-1f37-4334-2550677814cd","position":{"x":3408.0,"y":1704.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"f8743426-90c8-3854-8bc8-ef80ffe295d2","instanceIdentifier":"3d17e67a-6f93-33e4-73f6-a6aabd06fced","position":{"x":24.0,"y":168.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"25f4a4ba-215d-3add-9d8b-768c8674828d","instanceIdentifier":"d13a6671-bb1d-3d1b-fb0e-2ef95ca8cf6c","position":{"x":8.0,"y":944.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"d2decac1-478c-3aa8-ae6d-0482700e34d3","instanceIdentifier":"b0321df4-e1f6-3097-03fd-eda57f380a53","position":{"x":8.0,"y":1352.0},"componentType":"FUNNEL","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"controllerServices":[{"identifier":"d95cc79b-be89-354d-b40b-83e76711d1d2","instanceIdentifier":"aa91d8b4-20b9-3831-a8ed-d7b51ed89d4f","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"b8306dc1-d313-34ce-bdae-6161f913ae60","instanceIdentifier":"2b3a557a-9e1b-32e2-89c0-557a9eb5113f","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M2"},"properties":{"schema-reference-reader":null,"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"},{"identifier":"b5bd145e-d17f-3cb2-a920-6d008f26d153","instanceIdentifier":"faee3b42-0ade-1f37-9dd9-fdd352bb4c2a","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.0.0-M2"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/home/ec2-user/skodemo.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3752c45f-e359-36af-a1c2-d0a5b14cb9af"}],"parameterContextName":"slack-to-slack","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"slack-to-slack":{"name":"slack-to-slack","parameters":[{"name":"OpenAI API Key","description":"","sensitive":true,"provided":false},{"name":"Pinecone API Key","description":"","sensitive":true,"provided":false},{"name":"Pinecone Environment","description":"","sensitive":false,"provided":false,"value":"gcp-starter"},{"name":"Slack Bot Access Token","description":"","sensitive":true,"provided":false},{"name":"Embedding Model","description":"","sensitive":false,"provided":false,"value":"OpenAI Model"},{"name":"Pinecone Index Name","description":"","sensitive":false,"provided":false,"value":"general"},{"name":"Bot Name","description":"The name of the Slack bot which is displayed in the channel.","sensitive":false,"provided":false,"value":"NiFi"},{"name":"Channel ID","description":"","sensitive":false,"provided":false,"value":"#general"},{"name":"SlackBotBearer","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}